* {
    margin: 0;
    background-color: #130f40;
    text-decoration: none;
    list-style: none;
    /*#ffe914,#130f40,#000000,#0b3c5d = 11, 60, 93*/
}
.navbar{
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, .7);
    z-index: 9;
}
.config-home{
    position: absolute;
    width: 30%;
    top: -10px;
    z-index: 15;
    margin-left: 2rem;
    background: none;
}
.config-home li{
    left: 2rem;
    background: none;
}
.config-home a{
    text-decoration: none;
    background: none;
   }
.config-home a:hover{
    color: #ffffff;
}

.config-links{
    position: absolute;
    top: 1rem;
    z-index: 10;
    background: none;
    width: 100%;
}

.config-links li {
    float: right;
    list-style-type: none;
    margin:0 .7rem; 
    background-color: #000000;
}

 .config-links a{
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 font-size: 1.3rem;
 text-transform: uppercase;
 color:  #d9b310;
 text-decoration: none;
 background-color: rgba(0, 0, 0, .7);
}
.config-links a:hover{
    color: #ffffff;
}
.eventos{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
    color:  #d9b310;
    text-decoration: none;
    background-color: rgba(0, 0, 0, .7);
    cursor: pointer;
}
.eventos:hover{
    color: #ffffff;
}
.eventos:hover .painel-eventos{
    opacity: 1;
    visibility: visible;
}
.eventos:hover .arrow{
    transform: rotate(180deg);
    border-top: 7px solid #ffffff;
}
.painel-eventos{
    position: absolute;
    margin-top: 1.7rem;
    margin-left: 3rem;
    right: 6rem;
    width: 25rem;
    height: 13rem;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(11, 60, 93, .95);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 3rem);
    row-gap: .2rem;
    transition: opacity .5s;
    z-index: 10;
}
.painel-eventos a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:  #d9b310;
    background: none;
    z-index: 20;
}
.button-eventos{
    position: absolute;
    top: 1.8rem;
    border: none;
    background: none;
    width: 100%;
    height: 2rem;
    z-index: 3;
    cursor: pointer;
}
.button-eventos:hover{
    background-color: rgba(255, 238, 1, 0.3);
}
.button-eventos:hover  a{
    color: #ffffff;
}
.button-eventos2{
    position: absolute;
    top: 5rem;
    border: none;
    background: none;
    width: 100%;
    height: 2rem;
    z-index: 3;
    cursor: pointer;
}
.button-eventos2:hover{
    background-color: rgba(255, 238, 1, 0.3);
}
.button-eventos2:hover{
    color: #ffffff;
}

.arrow{
    float: right;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #d9b310;
    margin: 7px 1rem 0px -5px;
}
#language{
   width: 70px;
   height: 30px;
   float: right;
   background-color: rgba(0, 0, 0);
   color: #d9b310;
   margin: 0px 1rem;
   border-radius: 3px;
}
.start{
   width: 100%;
   height: 90vh;
   background: none;
}

.magus_pocus{
    position: absolute;
    top: 0;
    width: 100%;
    height: 90%;
    z-index: 7;
    animation: zoom-out 10s;
   
}
.fundo_magus{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    z-index: 1;
}
.start h1{
   position: absolute;
   color: #ffffff;
   z-index: 20;
   top: 20rem;
   background: none;
   left: 3rem;
   text-transform: uppercase;
   font-size: 57px;
   animation: zoom-out 3s;
}
.start button{
   position: absolute;
   width: 15rem;
   height: 4rem;
   color: #d9b310;
   font-size: 17px;
   z-index: 20;
   top: 30rem;
   background-color: #0b3c5d ;
   left: 3rem;
   text-transform: uppercase;
   animation: zoom-out 3s;
}
@keyframes zoom-out{
    0%{
        transform: scale(.8);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes subir{
    0%{
        transform: translateY(2rem) rotateY(-30deg);
        opacity: 0;
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}
@keyframes diagonal{
        0%{
            transform: translateY(.7rem) translateX(.7rem);
            opacity: 0;
        }
        100%{
            transform: translateY(0) rotateY(0);
            opacity: 1;
        }
}
.menu{
    width: 100%;
    height: 3rem;
    background-color: #0b3c5d;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(1, 3rem);
    row-gap: .2rem;
}
.menu li{
display: inline;
background-color: #0b3c5d;
padding-top: .5rem;
padding-left: 1rem;
padding-right: 1rem;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 1.5rem;
text-transform: uppercase;
color:  #d9b310;
border-right: .1rem solid #1d2731;
}
.jogo{
    padding-top: .5rem;
    columns: 1;
    background-color: #0b3c5d;
    border-right: .1rem solid #1d2731;
}
.menu li:hover{
    color: #ffffff;
    cursor: pointer;
}
.jogo:hover .painel-jogos{
    opacity: 1;
    visibility: visible;
}

.painel-jogos{
    position: absolute;
    margin-top: .72rem;
    margin-left: .5rem;
    margin-right: .5rem;
    width: 90%;
    height: 15rem;
    opacity: 0;
    transition: opacity .5s;
    background-color: rgba(00, 60, 93, .95);
    visibility: hidden;
    z-index: 15;
}
.img-magus{
    width: 10rem;
    height: 90%;
    float: left;
    margin: 1rem;
    background-color: #0b3c5d;
    cursor: pointer;
}

.img-magus:hover {
   border: .1rem solid  #d9b310;
}

.img-magus2{
    width: 10rem;
    height: 90%;
    float: left;
    margin: 1rem;
    background-color: #0b3c5d;
    cursor: pointer;
}

.img-magus2:hover {
    border: .1rem solid  #d9b310;
}
.info{
    position: absolute;
    z-index: 25;
    background: none;
    bottom: 1rem;
    left: 5rem;
    font-size: 1.2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #0b3c5d;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s;
}

.info2{
    position: absolute;
    z-index: 25;
    background: none;
    bottom: 1rem;
    left: 5rem;
    font-size: 1.2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #0b3c5d;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s;
    margin-left: 12rem;
}
.img-magus:hover .info{
    opacity: 1;
    visibility: visible;
    animation: subir 1s;
}
.img-magus2:hover .info2{
    opacity: 1;
    visibility: visible;
    animation: subir 1s;
}
.border-special{
    top: 1.2rem;
    opacity: 0;
    visibility: hidden;
    z-index: 20;
}
.border-special2{
    top: 1.2rem;
    opacity: 0;
    visibility: hidden;
    z-index: 20;
}
.img-magus:hover .border-special{
    opacity: 1;
    visibility: visible;
    animation: diagonal 1s;
}
.img-magus2:hover .border-special2{
    opacity: 1;
    visibility: visible;
    animation: diagonal 1s;
}
.painel-jogos img{
    position: absolute;
    width: 10rem;
    height: 90%;   
    background: none;
}
.painel-eventos li{
    background: none;
    margin: 2rem;
}

.master-magus{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .7s;
    z-index: 20;
    background-color: rgba(0, 0, 0, .8);
}
.magus-pocus{
    background-color: #1d2731;
    width: 50rem;
    height: 30rem;
    position: fixed;
    top: 20%;
    right: 20%;
}
.show-menu-jogos .master-magus{
    opacity: 1;
    visibility: visible;
}

.magus-pocus .fechar{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    border-radius: .2rem;
    width: 2rem;
    height: 2rem;
    background-color:  #d9b310;
    cursor: pointer;
}
.fechar:hover{
    background-color: #ff0000;
    color: #ffffff;
}
.magus-pocus .fundo-img{
    position: relative;
    width: 100%;
    height: 100%;
}
.magus-pocus:hover .fundo-img{
    opacity: .5;
}
.char-magus{
    position: fixed;
    background: none;
    width: 30rem;
    top: 10rem;
    right: 15rem;
}
.show-menu-jogos .char-magus{
    animation: zoom-out 10s;
}
.magus-pocus .info-magus{
    width: 20rem;
    height: 25rem;
    position: absolute;
    top: 5rem;
    left: 2rem;
    background: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s;
    
}
.magus-pocus:hover .info-magus{
    visibility: visible;
    opacity: 1;
    animation: subir 1s;
}
.info-magus p{
    margin-top: 2.5rem;
    margin-left: .5rem;
    margin-bottom: 2rem;
    font-weight: 500;
    background: none;
    font-size: 1.5rem;
    color:  #d9b310;
    text-shadow: .8rem .8rem .8rem #000000;
}
.info-magus .down{
    border-radius: .5rem;
    width: 7rem;
    height: 3rem;
    color:  #d9b310;
    background-color:  #0b3c5d;
    font-size: 1.1rem;
    font: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
    transition: background-color 1s;
    transition: color 1s;
    box-shadow: .8rem .5rem .8rem #000000;
}
.down:hover{
    color: #ffffff;
}
.conteudo p{
    margin: 5rem;
    color:  #d9b310;
    font-size: 1.5rem;
}
.footer-social{
    position: relative;
    width: 100%;
    height: 10rem;
    background-color: #0b3c5d;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(1,3rem);
}
.logo{
    background-color: #0b3c5d;
    width: 13rem;
    grid-column: 6;
    margin-top: 1rem;
}
.social{
    position: relative;
    background: none;
    position: absolute;
    width: 20rem;
    height: 2.5rem;
    margin: 2.5rem;
    left: 1rem;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(1,3rem);
    grid-column: 1;
}
.social #icon1{
    position: absolute;
    background: none;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    align-items: center;
    border-radius: 50%;
    grid-column: 4;
    cursor: pointer;
}

.social #icon2{
    position: absolute;
    background: none;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    align-items: center;
    border-radius: 50%;
    grid-column: 7;
    cursor: pointer;
}
#copyright{
    position: absolute;
    background: none;
    width: 2rem;
    grid-column: 4;
    bottom: 1.7rem;
    left: 7.9rem;
}
.direitos{
    position: absolute;
    width: 100%;
    height: 3rem;
    background: none;
    bottom: 0;
}

#direitos1{
    background: none;
    margin-left: 37.3%;
    margin-top: 0rem;
    color: #ffffff;
}
#direitos2{
    background: none;
    margin-left: 29%;
    margin-top: 0rem;
    color: #ffffff;
}




