* {
    margin: 0;
    background-color: #130f40;
    text-decoration: none;
    list-style: none;
    /*#ffe914,#130f40,#000000,#0b3c5d = 11, 60, 93*/
}
.master{
    background-color: #0f1656;
}
.navbar{
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: #0c151dd5;
    z-index: 9;
}
.config-home{
    position: absolute;
    width: 30%;
    top: -10px;
    z-index: 15;
    margin-left: 2rem;
    background: none;
}
.config-home li{
    left: 2rem;
    background: none;
}
.config-home a{
    text-decoration: none;
    background: none;
   }
.config-home a:hover{
    color: #ffffff;
}

.config-links{
    position: absolute;
    top: 1rem;
    z-index: 10;
    background: none;
    width: 100%;
}

.config-links li {
    float: right;
    list-style-type: none;
    margin:0 .7rem; 
    background: none;
}

 .config-links a{
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 font-size: 1.3rem;
 text-transform: uppercase;
 color:  #d9b310;
 text-decoration: none;
 background: none;
}
.config-links a:hover{
    color: #ffffff;
}
.eventos{
    background: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
    color:  #d9b310;
    text-decoration: none;
    cursor: pointer;
}
.btn-eventos{
    position: absolute;
    right: 25.5rem;
    width: 5rem;
    height: 2.7rem;
    opacity: 0;
}
.eventos:hover{
    color: #ffffff;
}
.eventos:hover .painel-eventos{
    opacity: 1;
    visibility: visible;
}
.eventos:hover .arrow{
    transform: rotate(180deg);
    border-top: 7px solid #ffffff;
}
.painel-eventos{
    position: absolute;
    margin-top: 2.7rem;
    margin-left: 3rem;
    padding-top: 2rem;
    right: 6rem;
    width: 25rem;
    height: 13rem;
    opacity: 0;
    visibility: hidden;
    background-color: #0B3c5dd8;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 2rem);
    row-gap: .2rem;
    transition: opacity .5s;
    z-index: 10;
    border-bottom: 3px solid #0c151dd5;
}
.painel-eventos a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:  #d9b310;
    background: none;
    z-index: 20;
}
.button-eventos{
    position: absolute;
    top: 1.8rem;
    border: none;
    border-bottom: 1px solid #0c151dd5;
    background: none;
    width: 100%;
    height: 2rem;
    z-index: 3;
    cursor: pointer;
}
.button-eventos:hover{
    background-color: rgba(255, 238, 1, 0.3);
}
.button-eventos2{
    position: absolute;
    top: 4rem;
    border: none;
    border-bottom: 1px solid #0c151dd5;
    background: none;
    width: 100%;
    height: 2rem;
    z-index: 3;
    cursor: pointer;
}
.button-eventos2:hover{
    background-color: rgba(255, 238, 1, 0.3);
}
.button-eventos2:hover{
    color: #ffffff;
}

.arrow{
    float: right;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #d9b310;
    margin: 7px 1rem 0px -5px;
    background: none;
}
#language{
   width: 70px;
   height: 30px;
   float: right;
   background-color: #0c151dd5;
   color: #d9b310;
   margin: 0px 1rem;
   border: .1px solid #d9b4107c;
   border-radius: 3px;
}
#language:hover{
    color: #ffffff;
}
.opt-lang{
    background-color: #0c151d;
}
.opt-lang:hover{
    color: #ffffff;
}
.start{
   width: 100%;
   height: 90vh;
   background: none;
}

.magus_pocus{
    position: absolute;
    top: 0;
    width: 100%;
    height: 90%;
    z-index: 7;
    animation: zoom-out 10s;
   
}
.fundo_magus{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    z-index: 1;
}
.start h1{
   position: absolute;
   color: #ffffff;
   z-index: 20;
   top: 20rem;
   background: none;
   left: 3rem;
   text-transform: uppercase;
   font-size: 57px;
   animation: zoom-out 3s;
}
.start button{
   position: absolute;
   width: 15rem;
   height: 4rem;
   color: #d9b310;
   font-size: 17px;
   z-index: 20;
   top: 30rem;
   background-color: #037bc0 ;
   left: 3rem;
   text-transform: uppercase;
   text-shadow: 2px 2px 7px #000000;
   animation: zoom-out 3s;
   border: 1px solid #d9b310;
   border-radius: 7px;
   cursor: pointer;
}
.start button:hover{
    background-color: #33aaf8;
}
@keyframes zoom-out{
    0%{
        transform: scale(.8);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes subir{
    0%{
        transform: translateY(2rem) rotateY(-30deg);
        opacity: 0;
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}
@keyframes diagonal{
        0%{
            transform: translateY(.7rem) translateX(.7rem);
            opacity: 0;
        }
        100%{
            transform: translateY(0) rotateY(0);
            opacity: 1;
        }
}
.bar{
    width: 100%;
    height: 2rem;
    background-color: #0c151d;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(1, 3rem);
    row-gap: .2rem;
}
.games{
    width: 100%;
    height: 100vh;
    background-color: #0f1656;
}
.games h3{
    background-color: #0f1656;
    color: #ffffff;
    font-size: 37px;
    margin: 2rem 0rem .5rem 10rem;
}
.games button{
   width: 8rem;
   height: 2rem;
   color: #d9b310;
   font-size: 17px;
   background-color: #037bc0 ;
   text-transform: uppercase;
   text-shadow: 2px 2px 7px #000000;
   border: 1px solid #d9b310;
   border-radius: 7px;
   cursor: pointer;
   margin:0rem 0rem 0rem 6rem;
   box-shadow: 2px 2px 7px #000000;
}
.games button:hover{
    background-color: #33aaf8;
}
.line{
    width: 87%;
    margin:0rem 0rem 0rem 6rem;
    opacity: .3;
}
.img-games{
    display: flex;
    background-color: #0f1656;
    padding-left: 5rem;
}
.img-games img{
    width: 200px;
    height: 400px;
    margin: 1rem 0rem 2rem 1rem;
}
.footer-social{
    position: relative;
    width: 100%;
    height: 30rem;
    background-color: #0b3c5d;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(1,3rem);
}
.logo{
    background: none;
    width: 15rem;
    grid-column: 6;
    margin-top: 1rem;
}
.social{
    position: relative;
    background: none;
    position: absolute;
    width: 20rem;
    height: 2.5rem;
    margin: 2.5rem;
    left: 1rem;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(1,3rem);
    grid-column: 1;
}
.social #icon1{
    position: absolute;
    background: none;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    align-items: center;
    border-radius: 50%;
    grid-column: 4;
    cursor: pointer;
}

.social #icon2{
    position: absolute;
    background: none;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    align-items: center;
    border-radius: 50%;
    grid-column: 7;
    cursor: pointer;
}
#copyright{
    position: absolute;
    background: none;
    width: 2rem;
    grid-column: 4;
    bottom: 1.7rem;
    left: 7.9rem;
}
.direitos{
    position: absolute;
    width: 100%;
    height: 3rem;
    background: none;
    bottom: 0;
}

#direitos1{
    background: none;
    margin-left: 37.3%;
    margin-top: 0rem;
    color: #ffffff;
}
#direitos2{
    background: none;
    margin-left: 29%;
    margin-top: 0rem;
    color: #ffffff;
}




